@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') ;

}

html ,body{
    font-family: roboto , sans-serif, serif;
}


html.no-scroll body {
    overflow: hidden !important; /* 禁止页面滚动 */
}
html.no-scroll.min-ios14 body {
    touch-action: none;
    position: fixed;
}
